body
{
	background: url(img/cork-board.png);
	color: #000;
    font-family: 'Courier Prime', monospace;
    font-size: 21px;
}

.navbar
{
	min-height: 57px;
}

.bg-openMenu
{
	background-color: #6EDFE5 !important;
}

h1
{
	font-size: 32px;
	margin-top: 15px;
}

.websideTopTxt
{
	background-color: #fff !important;
	font-family: 'Pacifico', cursive;

}

.websideTopPct
{
	background-color: #fff !important;
}


@media screen and (max-width: 991px)
{
	.websideTopPct
	{
		display:none !important;
	}
}

.accountIntroduction
{
	background-color: #6EDFE5 !important;
}
