body
{
	background: url(img/cork-board.png);
	color: #000;
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
}

.navbar
{
	min-height: 57px;
}

.bg-openMenu
{
	background-color: #6EDFE5 !important;
}

h1
{
	font-size: 30px;
}